.game-cell {
  width: 100px;
  height: 100px;
  margin: 10px;
}


.game-grid {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: center;
}

.game-row {
  display: flex;
  flex-direction: row;
}

.game-cell-label {
  width: 100%;
  font-size: 20px;
}
